.page{

    min-height:100vh;

    background:#eef3fa;

}

.content{

    max-width:1400px;

    margin:auto;

    padding:40px;

}

.dashboard{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:35px;

    margin-bottom:50px;

}

@media(max-width:1000px){

.dashboard{

grid-template-columns:1fr;

}

}