.kpi-card{

display:flex;

align-items:center;

gap:18px;

padding:22px;

border-radius:22px;

background:white;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.35s;

margin-bottom:18px;

}

.kpi-card:hover{

transform:translateY(-6px);

box-shadow:0 20px 45px rgba(37,99,235,.18);

}

.kpi-icon{

width:65px;

height:65px;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

color:white;

}

.kpi-content h4{

margin:0;

font-size:16px;

color:#64748b;

}

.kpi-content h2{

margin-top:8px;

font-size:32px;

font-weight:800;

color:#1e293b;

}

.kpi-content span{

font-size:18px;

color:#64748b;

}